{% if is_standalone %}
    {# Should never happen for non-tool pages ! #}
    {% extends "bases/standalone.jinja" %}
{% else %}
    {% extends "bases/default.jinja" %}
{% endif %}

{% block head_title %}{{ l10n("head.title", "projects", page_lang) }}{% endblock %}

{% block head_description %}
    <!-- IRRELEVANT, shove it in the opengraph section !!! -->
    {{ l10n("head.title", "projects", page_lang) }}
{% endblock %}

{% block header_title %}
    <i class="fad fa-briefcase t-size-16 mr-s t-muted"></i>{{ l10n("header.root", "projects", page_lang) }}<span class="mobile-hide">
    <span class="mx-s t-size-15">❱</span>{{ l10n("header.search", "projects", page_lang) }}</span>
{% endblock %}

{% block opengraph_tags %}
    <!-- TODO -->
{% endblock %}

{% block main_content %}
    <np-content-index></np-content-index>
{% endblock %}

{% block extra_scripts %}
    <script src="/resources/NibblePoker/js/nibblepoker-default.min.js"></script>
{% endblock %}

