{#
pages/tool.jinja

Parameter:
    * tool_id - Tool ID for which the page should be rendered.

Notable globals:
    * applets_index
    * tools_index
#}

{% set tool_data=tools_index[tool_id] %}

{% if is_standalone %}
    {% extends "bases/standalone.jinja" %}
{% else %}
    {% extends "bases/default.jinja" %}
{% endif %}

{% block head_title %}{{ l10n("head.title", "home", page_lang) }}{% endblock %}

{% block head_description %}
    <!-- IRRELEVANT, shove it in the opengraph section !!! -->
    {{ l10n("head.title", "home", page_lang) }}
{% endblock %}

{% block opengraph_tags %}
    <!-- TODO -->
{% endblock %}

{% block header_title %}
    {% if not is_standalone %}
        <i class="fad fa-toolbox t-size-16 mr-s t-muted"></i><a href="../" class="a-hidden">{{ l10n("header.root", "tools", page_lang) }}</a>
        <span class="mobile-hide"><span class="mx-s t-size-15">❱</span>{{ l10n(tool_data.metadata.general.title_key, tool_id, page_lang) }}</span>
    {% else %}
        {% if not is_brandless %}
            <span class="mobile-hide">NibblePoker<span class="mx-s t-size-15">❱</span></span>
        {% endif %}
        {{ l10n(tool_data.metadata.general.title_key, tool_id, page_lang) }}
    {% endif %}
{% endblock %}

{% block main_content %}
    <np-section>

        {% set _rendered_applet_id = tools_index[tool_id].applet_id %}

        {% with applet_id = _rendered_applet_id,
                applet_uid = "53e60939",
                applet_overrides = {} %}
            {% include 'elements/applet.jinja' %}
        {% endwith %}

        <!-- tool_id: {{ tool_id }} -->
    </np-section>
{% endblock %}

{% block extra_scripts %}
    <script src="/resources/NibblePoker/js/nibblepoker-default.min.js"></script>
{% endblock %}
