{#
elements/code-block.jinja

Parameters:
    * code_source     - Path to the file with the code.
    * code_copiable   - Enabled the copy utility wedge.
    * code_language   - Defines the language the code is for highlighting.
    * code_highlight  - Enables code highlighting.
#}

{#
    Old example:
        <code class="code ox-auto w-full d-inline-block position-relative content-spacer-vertical language-python">
#}

{% set _code_dwn_classes = "" %}

{% if code_highlight is defined %}
    {% set _code_dwn_classes = _code_dwn_classes + " code" %}

    {% if code_language is defined %}
        {% set _code_dwn_classes = _code_dwn_classes + " language-" + code_language %}
    {% endif %}
{% endif %}

<code class="d-block ox-auto p-xxs border r-s mt-s {{ _code_dwn_classes }}">
    {% for code_line in get_code_lines(code_source) %}
        <span class="code-line t-nowrap">{{ code_line | replace(" ", "&nbsp;")}}</span><br/>
    {% endfor %}
</code>
