{#
elements/content-card.jinja

Parameters:
    * card_project_id - ID used to get the relevant project's info.
#}

<hr class="subtle hide-if-first">

<!--<div class="p-s border r-m">-->

<div>
    Card for '{{ card_project_id }}'
</div>
